#primaryBtn {
  font-family: var(--fontFamily);
  font-weight: 600;
  position: relative;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--smallFontSize);
  transition: 0.1s ease-in-out;
}
.activeBtn {
  border: none;
  background-color: var(--highlightColor);
  color: var(--textColor);
}

.inactiveBtn {
  background-color: var(--backgroundColor);
  color: var(--lightTextColor);
  border: 1px solid var(--highlightColor);
}
.activeBtn:hover {
  background-color: var(--darkHighlightColor);
  color: var(--textColor);
  box-shadow: var(--shadow);
  font-weight: 600;
}
.inactiveBtn:hover {
  background-color: var(--darkHighlightColor);
  color: var(--textColor);
  box-shadow: var(--shadow);
  font-weight: 600;
}
#primaryBtn:disabled {
  cursor: not-allowed;
}
.loadingSpinner {
  border: 4px solid transparent;
  border-top: 4px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
  display: inline-block;
}

/* Animation for the spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
