.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer label {
  font-size: var(--normalFontSize);
  color: var(--HeaderColor);
  font-weight: 700;
  padding-left: 4px;
  margin-bottom: 6px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.Input,
.Textarea,
.Select {
  width: 100%;

  font-family: var(--fontFamily);
  color: var(--textColor);

  font-size: var(--smallFontSize);
  font-weight: 500;

  padding: 10px 12px;
  margin: 4px 5px 8px 5px;

  border: 1px solid var(--borderLine);
  border-radius: 10px;

  outline: none;

  transition: 0.2s ease-in-out;

  background-color: var(--backgroundColor);
}

.Input {
  height: 32px;
}

.Textarea {
  max-height: 35px;
  padding: 10px 12px;
  margin: 0px;
  resize: vertical;
}

.Input:focus,
.Textarea:focus,
.Select:focus {
  border-color: var(--highlightColor);
  background-color: var(--containerColor);
}

.Input::placeholder,
.Textarea::placeholder {
  color: var(--lightTextColor);
  font-size: var(--smallFontSize);
}

.eyeIcon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #777;
}

.errorMessage {
  color: var(--red);
  font-size: 12px;
  margin-top: 4px;
}
