#login{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--backgroundColor);
}
#login .left{
    position: relative;
    height: 100vh;
    max-width: 50%;
    overflow-x: hidden;
    background-color: azure;
}
#login .left img{
    width: 100%;
    height: 100%;
}
#login .right{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login .right .header{
    margin-bottom: 10%;
    font-size: 25px;
    color: var(--highlightColor);
}
#login .right form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login .right form .options{
    display: flex;
    justify-content: space-between;
    color: var(--lightTextColor);
    font-size: var(--smallFontSize);
    opacity: 0.8;
}
#login .right form .loginText{
    padding-top: 15px;
    color: var(--lightTextColor);
    font-size: var(--smallFontSize);
}
#login .right form .loginText span{
    color: var(--highlightColor);
    cursor: pointer;
}
#login .right form .inputContainer{
    margin-bottom: 15px;
    
}
#login .right form .Input{
    width: 230px;
}
#login .right form .errorMessage{
    margin-bottom: 15px;
    color: var(--red);
}
#login .right form #primaryBtn{
    margin: 5px;
}

/* When sidebar is open */
@media (max-width: 1024px) {
  #login .left{
    width: 40%;
  }
  #login .right{
    width: 60%;
  }
}


@media (max-width: 768px) {
  #login .left{
    width: 0%;
  }
  #login .right{
    width: 100%;
  }
}