main{
    width: 100%;
    height: 100vh;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 0;
    margin: 0;
}


::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: var(--backgroundColor);
}

::-webkit-scrollbar-thumb {
    background: var(--borderColor);
    border-radius: 8px;
}