.status-tag {
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: capitalize;
}

.status-green {
  color: var(--highlightColor);
}

.status-yellow {
  color: var(--yellow);
}

.status-red {
  color: var(--red);
}

.status-gray {
  color: #555;
}
