.status-tag {
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: capitalize;
}

.status-green {
  color: var(--highlightColor);
}

.status-yellow {
  color: var(--yellow);
}

.status-red {
  color: var(--red);
}

.status-gray {
  color: #555;
}


.add-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: var(--lightTextColor);
  font-family: var(--fontFamily);
  cursor: pointer;
  transition: .3s ease-in-out;

}
.delete-btn{
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: var(--red);
  font-family: var(--fontFamily);
  cursor: pointer;
  transition: .3s ease-in-out;
}
.add-btn:hover{
  color: var(--highlightColor);
}
.add-btn .plusIcon{
  font-size: var(--normalFontSize);
  padding-right: 5px;
}
