body{
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColor);
  font-size: var(--normalFontSize);
  font-family: var(--fontFamily);
  overflow: hidden;
}

body #app{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
body #app #rightSide{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  overflow: scroll;
}

#themeToggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--textColor);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#themeToggle .icon{
  font-size: 14px;
  color: gold;
}
.errorMessage{
  color: var(--red);
  margin: 10px;
}
#Section{
    width: 100%;
    min-height: 80vh;
    max-height: calc(100vh - 120px); 
    background-color: var(--containerColor);
    box-shadow: var(--shadow);
    border-radius: 8px;
    padding: 20px;
    position: relative;
    overflow: auto;
}
#Section .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#Section .header .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#Section h3{
    font-family: var(--fontFamily);
    font-size: var(--headerFontSize);
    font-weight: 400;
    color: var(--textColor);
    padding: 10px;
}



@media (max-width: 768px) {
  #Section .header{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
