
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bigFontSize: 24px;
  --headerFontSize: 20px;
  --normalFontSize: 16px;
  --smallFontSize: 14px;
  --fontFamily: "Mulish", sans-serif;

  --highlightColor: #77DD77;
  --darkHighlightColor: #61da61;

  /* Light mode colors */
  --backgroundColor: #FCFEF5;
  --containerColor: #FFFFFF;
  --textColor: #343A40;
  --lightTextColor: #6C757D;
  --HeaderColor: #212529;
  --iconColor: #767680;
  --greyColor: #eeeeed;

  --shadow: 0 2px 2px #0000003b;
  --blue: #77BBDD;
  --yellow: #FFDD88;
  --red: #FF8899;

  --borderColor: #6c757d70;
  --borderLine: #76768050;

  --sideNavTextColor: #FCFEF5;
}

/* Dark mode overrides */
.dark {
  --highlightColor: #3fa34e; /* A rich, deep green (less neon) */
  --backgroundColor: #181a1b;
  --containerColor: #222526;
  --textColor: #f5f6f7;
  --lightTextColor: #b0b3b8;
  --HeaderColor: #ffffff;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  --borderColor: #3a3f42;
  --borderLine: #3a3f4280;
  --iconColor: #b0b3b8;
  --greyColor: #3a3f4280;
}



body, .container, .sidebar {
  transition: background-color 0.3s ease, color 0.3s ease;
}



::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--highlightColor);
}

::-webkit-scrollbar-thumb {
    background: var(--borderColor);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--borderColor);
}
