* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bigFontSize: 24px;
  --headerFontSize: 20px;
  --normalFontSize: 16px;
  --smallFontSize: 14px;
  --littleFontSize: 12px;
  --fontFamily: "Mulish", sans-serif;

  --highlightColor: #22c55e;
  --lightHighlightColor: #dcfce7;
  --darkHighlightColor: #16a34a;

  /* Light mode colors */
  --backgroundColor: #fcfef5;
  --containerColor: #ffffff;
  --textColor: #343a40;
  --lightTextColor: #6c757d;
  --HeaderColor: #212529;
  --iconColor: #767680;
  --greyColor: #eeeeed;
  --cancelBtnColor: #fcfef5;
  --tableHeadColor: #7fa37f;

  --shadow: 0 2px 2px #0000003b;
  --purple: #6366f1;
  --blue: #3b82f6;
  --yellow: #f59e0b;
  --red: #ef4444;
  --grey: #76768050;
  --green: #22c55e;
  --lightRed: #030303;

  /* Light variants */
  --purpleFade: #e0e7ff;
  --blueFade: #dbeafe;
  --yellowFade: #fef3c7;
  --redFade: #fee2e2;
  --greyFade: #f3f4f6;
  --greenFade: #dcfce7;

  --borderColor: #e8eedf;
  --borderLine: #76768050;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  --sideNavTextColor: #fcfef5;

  --trans-3: 0.3s ease-in-out;
}

/* Dark mode overrides */
.dark {
  --highlightColor: #3fa34e; /* A rich, deep green (less neon) */
  --backgroundColor: #181a1b;
  --containerColor: #222526;
  --textColor: #f5f6f7;
  --lightTextColor: #b0b3b8;
  --HeaderColor: #ffffff;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  --borderColor: #3a3f42;
  --borderLine: #3a3f4280;
  --iconColor: #b0b3b8;
  --greyColor: #3a3f4280;
  --cancelBtnColor: #181a1b;
}

body,
.container,
.sidebar {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: var(--highlightColor);
}

::-webkit-scrollbar-thumb {
  background: var(--borderColor);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--borderColor);
}
